.gradle
.idea
 /gradle
/local.properties
/gradle.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.iml
/library/*.iml
/app/*.iml
gradle.properties
.idea/misc.xml

gradle/wrapper/gradle-wrapper.properties

codealike.json

gradle/wrapper/gradle-wrapper.properties
